<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/bootstrap.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auto cars Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.js"></script>

</head>
<body>
<!-- banner -->
<div class="banner banner2">
	 <div class="container">
	     <div class="header">
			 <div class="logo">
				 <h1><a href="/"><img src="images/car.png" alt=""/>E-street Parking <span>System</span></a></h1>
			 </div>
			 <div class="top_details">
				 <p><span></span> (xxx)xxx xxxx</p>
				 <div class="search">
				 <form>
					<input type="text" value="" placeholder="Search...">
					<input type="submit" value="">
					</form>
			     </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <nav class="navbar navbar-default">
			 <div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
			 </div>
			 <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
					<li class="active"><a href="/about">About</a></li>
					<li><a href="/findspace">Find Available Space</a></li>
					<!--<li><a href="/sellcar">Sell Car</a></li>-->
					<li><a href="/contact">Contact Us</a></li>
				  </ul>
			 </div>
	      </nav>					
	 </div>
</div>
<!---->
<div class="about">
	 <div class="container">
		 <h2>About Us</h2>
			 <ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">About</li>						  
			    </ol>
		 <div class="about-grids">
			 <div class="col-md-4 about-pic">
				  <img src="images/bg4.jpg" class="img-responsive" alt=""/>
			 </div>
			 <div class="col-md-8 about-info">
				 <h3>Proin laoreet magna vel sapien iaculis pretium.</h3>
				 <p>Nam nisl massa, aliquet id venenatis aliquam, facilisis nec lacus. Aenean non est neque. Nam a rutrum elit. Maecenas eu ultricies tortor,
				 a suscipit magna. Donec sit amet risus ornare, venenatis enim sed, ultrices lectus. Maecenas consectetur, libero id porttitor mattis, enim purus scelerisque ante, tempus dapibus 
				 quam lacus id dui. Curabitur lorem ex, dignissim sit amet tincidunt id, hendrerit vel ante. In ut felis at ante feugiat accumsan non id enim. Morbi
				 magna dui, fringilla eget mollis quis, tincidunt quis nulla. Praesent lobortis lacus nisl, sit amet euismod ipsum ornare eu. Cras a consequat tortor, efficitur ultrices odio. </p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="abt-btm-grids">
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>1</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Car Repair</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>2</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Wheel Alignment</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>3</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Car Wash</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>4</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Auto Touning</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="clearfix"></div>
		 </div>	
		 <div class="works">
			  <h3>Our Team</h3>	  
			  <div class="grid_4">
				<div class="text1">
						   <img src="images/zhu.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>
			  <div class="grid_4">
				 <div class="text1">
						   <img src="images/jason.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>
			  <div class="grid_4 span66">
				<div class="text1">
						   <img src="images/zeng.png" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>      
			  <div class="grid_4">				 
					  <div class="text1">
						   <img src="images/MengWan.jpeg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>					  
				 </div>
			  </div>
				<div class="clearfix"></div>
          </div>
		 
	 </div>
</div>
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3>About Us</h3>
				 <ul>
					<li><a href="/">Home</a></li>
					<li><a href="/findspace">Find Available Space</a></li>
					<li><a href="/contact">Contact US</a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Latest Tweets</h3>
				 <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#">1 Hour ago</a>
				  </div>
				  <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#">3 Hour ago</a>
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Get in Touch</h3>				 
				 <p>It is a long established fact that a reader will be distracted by the r-
				 eadable content of a page when looking at its layout.</p>
				 <form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Subscribe"/>
				 </form>
				 <div class="social">
					   <ul>
							<li><a href="#"><i class="facebook"></i></a></li>
							<li><a href="#"><i class="twitter"></i></a></li>
							<li><a href="#"><i class="dribble"></i></a></li>	
							<li><a href="#"><i class="google"></i></a></li>										
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div
		 </div>
	 </div>
</div>
<!---->

</body>
</html>