<!DOCTYPE HTML>
<html>
	<head>
		<title>Contact</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="js/bootstrap.js"></script>
		<!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />

		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="js/jquery.min.js"></script>
 		<script src="js/bootstrap.js"></script>
		<script src = "js/map_contact.js"></script>
		<!--Google Map-->
		<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLWnH58ycm-_m_n3gcZGc8DWOlWP9CuJA&callback=initMap">
		</script>
		<style>
			#map {
				height: 400px;
				width: 100%;
			}
		</style>

	</head>
<body>
<!-- banner -->
<div class="banner banner2">
	 <div class="container">
	     <div class="header">
			 <div class="logo">
				 <h1><a href="/"><img src="images/car.png" alt=""/>E-street Parking <span>System</span></a></h1>
			 </div>
			 <div class="top_details">
				 <p><span></span> (xxx)xxx xxxx</p>
				 <div class="search">
				 <form>
					<input type="text" value="" placeholder="Search...">
					<input type="submit" value="">
					</form>
			     </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <nav class="navbar navbar-default">
			 <div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
			 </div>
			 <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/findspace">Find Available Space</a></li>
					<!--<li><a href="/sellcar">Sell Car</a></li>-->
					<li class="active"><a href="/contact">Contact Us</a></li>
				  </ul>
			 </div>
	      </nav>					
	 </div>
</div>
<!---->
<div class="contact">
		<div class="container">
			<div class="contact-top">
				<h2>Contact</h2>
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li class="active">Contact</li>
			 	</ol>
			</div>
			<div class="contact-bottom">
				<div id="map"> </div>
				<div class="contact-text">
					<div class="col-md-3 contact-right">
						<div class="address">
							<h5>Address</h5>
							<p>The company name, 
							<span>Lorem ipsum dolor,</span>
							Glasglow Dr 40 Fe 72.</p>
						</div>
						<div class="address">
							<h5>Address1</h5>
							<p>Tel:1115550001, 
							<span>Fax:190-4509-494</span>
							Email: <a href="mailto:example@email.com">contact@example.com</a></p>
						</div>
					</div>
					<div class="col-md-9 contact-left">
						<form>
						<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" />
						<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
						<input type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" />
						<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
							<div class="submit-btn">								
									<input type="submit" value="SUBMIT">							
							</div>
						</form>
					</div>						
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3>Contact Us</h3>
				 <ul>
					 <li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/findspace">Find Available Space</a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Latest Tweets</h3>
				 <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#">1 Hour ago</a>
				  </div>
				  <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#">3 Hour ago</a>
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Get in Touch</h3>				 
				 <p>It is a long established fact that a reader will be distracted by the r-
				 eadable content of a page when looking at its layout.</p>
				 <form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Subscribe"/>
				 </form>
				 <div class="social">
					   <ul>
							<li><a href="#"><i class="facebook"></i></a></li>
							<li><a href="#"><i class="twitter"></i></a></li>
							<li><a href="#"><i class="dribble"></i></a></li>	
							<li><a href="#"><i class="google"></i></a></li>										
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->

</body>
</html>