<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>E-street Parking System</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />


    <style>
        #map {
        height: 600px;
        width: 100%;
        }

        .search {
            width: 30%;
            position: relative;
        }

        .searchTerm {
            float: left;
            width: 100%;
            border: 3px solid #00B4CC;
            padding: 5px;
            height: 36px;
            border-radius: 5px;
            outline: none;
            color: #9DBFAF;
        }

        .searchTerm:focus{
            color: #000000;
        }

        .searchButton {
            position: absolute;
            right: -50px;
            width: 40px;
            height: 36px;
            border: 1px solid #00B4CC;
            background: #00B4CC;
            text-align: center;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
        }

        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        .pac-container {
            font-family: Roboto;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #type-selector label {
            font-family: Roboto;
            color: blanchedalmond;
            font-size: 13px;

        }

    </style>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/dashboard" class="simple-text">
                    E-street Parking System
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/userprofile">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard_map">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/dashboard_real">
                        <i class="pe-7s-map-marker"></i>
                        <p>Real Time</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Maps</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                                <b class="caret"></b>
                                <span class="notification">5</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                Account
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <div class="search">
                                    <input id="pac-input" type="text" class="searchTerm" placeholder="Please enter location...">
                                    <button type="submit" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="content">
                                <br />
                                <br />
                                <div class="typo-line">
                                    <p class="category">Notice</p>
                                    <blockquote>
                                        <p class="text-success">
                                            <img src="assets/img/green-dot.png" alt="green-dot">
                                            : Available Parking Space
                                        </p>
                                        <p class="text-danger">
                                            <img src="assets/img/red-dot.png" alt="red-dot">
                                            : Not Available
                                        </p>
                                        <p class="text-warning">
                                            <img src="assets/img/orange-dot.png" alt="orange-dot">
                                            : Maintenance
                                        </p>

                                    </blockquote>
                                </div>
                                <p> Please Select Status:
                                    <select id="type" onchange="filterMarkers(this.value);">
                                        <!--<option value="">Please select category</option>-->
                                        <option value="0">Available</option>
                                        <option value="1">Not Available</option>
                                        <option value="2">Maintenance</option>
                                    </select>
                                </p>
                                <!--<div class="typo-line">-->
                                    <!--<h4><p class="category"><p>Real Time Map</p></h4>-->
                                <!--</div>-->
                            </div>
                            <!--<input id="pac-input" class="controls" type="text" placeholder="Enter a location">-->
                            <!--<div id="type-selector" class="controls">-->
                                <!--<input type="radio" name="type" id="changetype-all" checked="checked">-->
                                <!--<label for="changetype-all" >All</label>-->

                                <!--<input type="radio" name="type" id="changetype-establishment">-->
                                <!--<label for="changetype-establishment">Establishments</label>-->

                                <!--<input type="radio" name="type" id="changetype-address">-->
                                <!--<label for="changetype-address">Addresses</label>-->

                                <!--<input type="radio" name="type" id="changetype-geocode">-->
                                <!--<label for="changetype-geocode">Geocodes</label>-->
                            <!--</div>-->

                            <div id="map"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
<!--<script language="javascript">-->
    <!--setTimeout("self.location.reload();",5000);-->
<!--</script>-->
    <!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>


<script src = "js/map_real.js"></script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLWnH58ycm-_m_n3gcZGc8DWOlWP9CuJA&libraries=places&callback=initMap">
</script>




</html>
