<!DOCTYPE HTML>
<html>
<head>
	<title>Available Space</title>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary JavaScript plugins) -->
	<script src="js/bootstrap.js"></script>
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />

	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<!-- Custom Theme files -->
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<script src="js/jquery.min.js"></script>
 	<script src="js/bootstrap.js"></script>

	<!--Google Map-->
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLWnH58ycm-_m_n3gcZGc8DWOlWP9CuJA&callback=initMap">
	</script>

	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
	<script src = "js/map_find.js"></script>

	<style>
		#map {
			height: 500px;
			width: 100%;
		}
	</style>

</head>
<body>
<!-- banner -->
<div class="banner banner2">
	 <div class="container">
	     <div class="header">
			 <div class="logo">
				 <h1><a href="/"><img src="images/car.png" alt=""/>E-street Parking <span>System</span></a></h1>
			 </div>
			 <div class="top_details">
				 <p><span></span> (xxx)xxx xxxx</p>
				 <div class="search">
				 <form>
					<input type="text" value="" placeholder="Search...">
					<input type="submit" value="">
					</form>
			     </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <nav class="navbar navbar-default">
			 <div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
			 </div>
			 <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="/about">About</a></li>
					<li class="active"><a href="/findspace">Find Available Space</a></li>
					<!--<li><a href="/sellcar">Sell Car</a></li>-->
					<li><a href="/contact">Contact Us</a></li>
				  </ul>
			 </div>
	      </nav>					
	 </div>
</div>

<!---->
<div class="typrography">
	<div class="container">
		<h3 class="type">We will find an available space for you</h3>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Find Available Space</li>
		</ol>
		<div class="grid_1">
			<p class="text-success">
				<img src="assets/img/green-dot.png" alt="green-dot">
				: Available Parking Space
			</p>
			<p class="text-danger">
				<img src="assets/img/red-dot.png" alt="red-dot">
				: Not Available
			</p>
			<p class="text-warning">
				<img src="assets/img/orange-dot.png" alt="orange-dot">
				: Maintenance
			</p>
		</div>
		<div class="grid_3 grid_5">
			<div id="map" > </div>

	</div>

</div>


<!---->
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3>Find Available Space</h3>
				 <ul>
					 <li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<!--<li><a href="findspace.ejs">Find Car</a></li>-->
					<!--<li><a href="sellcar.ejs">Sell Car</a></li>-->
					<li><a href="/contact">Contact Us</a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Latest Tweets</h3>
				 <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#">1 Hour ago</a>
				  </div>
				  <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#">3 Hour ago</a>
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Get in Touch</h3>				 
				 <p>It is a long established fact that a reader will be distracted by the r-
				 eadable content of a page when looking at its layout.</p>
				 <form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Subscribe"/>
				 </form>
				 <div class="social">
					   <ul>
							<li><a href="#"><i class="facebook"></i></a></li>
							<li><a href="#"><i class="twitter"></i></a></li>
							<li><a href="#"><i class="dribble"></i></a></li>	
							<li><a href="#"><i class="google"></i></a></li>										
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->




</body>
</html>