<!DOCTYPE HTML>
<html>
<head>
  <title>Home</title>
  <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary JavaScript plugins) -->
  <script src="js/bootstrap.js"></script>
  <!-- Custom Theme files -->
  <link href="css/style.css" rel='stylesheet' type='text/css' />

  <!-- Custom Theme files -->
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/responsiveslides.min.js"></script>

  <script>
      $('#myModal').modal('show');
  </script>

  <script>
      // You can also use "$(window).load(function() {"
      $(function () {
          // Slideshow 4
          $("#slider3,#slider2").responsiveSlides({
              auto: true,
              pager: true,
              nav: false,
              speed: 500,
              namespace: "callbacks",
              before: function () {
                  $('.events').append("<li>before event fired.</li>");
              },
              after: function () {
                  $('.events').append("<li>after event fired.</li>");
              }
          });

      });
  </script>
  <style>

    .nav-tabs {
      margin-bottom: 15px;
    }
    .sign-with {
      margin-top: 25px;
      padding: 20px;
    }
    #OR {
      height: 30px;
      width: 30px;
      border: 1px solid #C2C2C2;
      border-radius: 50%;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      float: right;
      position: absolute;
      right: -16px;
      top: 40%;
      z-index: 1;
      background: #DFDFDF;
    }
  </style>

</head>
<body>
<!-- banner -->
<div class="banner">
  <div class="container">
    <div class="header">
      <div class="logo">
        <h1><a href="/"><img src="images/car.png" alt="">E-street Parking<span> System</span></a></h1>
      </div>
      <div class="top_details">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Login</button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  ×</button>
                <h4 class="modal-title" id="myModalLabel">
                  Login/Registration</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                      <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="Login">
                        <form role="form" class="form-horizontal" action="users/login" method="post">
                          <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" name='email' placeholder="Email" />
                            </div>
                          </div>
                          <div class="form-group" hidden>
                            <label for="email" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name='type' value="0" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" name="password" placeholder="Password" />
                            </div>
                          </div>
                          <div class="form-group text-center">
                            <input type="checkbox" tabindex="3" class="" name="remember">
                            <label for="remember"> Remember Me</label>
                          </div>
                          <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10">
                              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                              <a href="javascript:;">Forgot your password?</a>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane" id="Registration">
                        <form role="form" class="form-horizontal" action="users/signin" method="post">
                          <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                              <div class="row">
                                <div class="col-md-3">
                                  <select class="form-control">
                                    <option>Mr.</option>
                                    <option>Ms.</option>
                                    <option>Mrs.</option>
                                  </select>
                                </div>
                                <div class="col-md-4">
                                  <input type="text" class="form-control" name="fname" placeholder="First Name" />
                                </div>
                                <div class="col-md-4">
                                  <input type="text" class="form-control" name="lname" placeholder="last Name" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" name="email" placeholder="Email" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">
                              Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" name="password" placeholder="Password" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="city" placeholder="City" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">State</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="state" placeholder="State" />
                            </div>
                          </div>
                            <div class="form-group" hidden>
                                <label for="type" class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name='type' value="0" />
                                </div>
                            </div>
                          <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10">
                              <button type="summit" class="btn btn-primary btn-sm">
                                Save & Continue</button>
                              <button type="summit" class="btn btn-default btn-sm">
                                Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div id="OR" class="hidden-xs">
                      OR</div>
                  </div>
                  <div class="col-md-4">
                    <div class="row text-center sign-with">
                      <div class="col-md-12">
                        <h3>
                          Sign in with</h3>
                      </div>
                      <div class="col-md-12">
                        <div class="btn-group btn-group-justified">
                          <a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">
                            Google</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>
      </div>
      <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/findspace">Find Available Space</a></li>
          <!--<li><a href="/sellcar">Sell Car</a></li>-->
          <li><a href="/contact">Contact Us</a></li>
          <!--<li><a href="/logintest">Login</a></li>-->
        </ul>
      <div >
    </nav>
    <div  id="top" class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="banner-info">
            <h3>Using GeoHash to find the available parking spaces close to users.</h3>
            <p>We can provide the parking spaces based on the information you provide and your preference.</p>
          </div>
        </li>
        <li>
          <div class="banner-info">
            <h3>Park Anytime & Anywhere without Hesitating! </h3>
            <p>Fare price with best service.</p>
          </div>
        </li>
        <li>
          <div class="banner-info">
            <h3>Fare price with best service!</h3>
            <p>We will recommend proper cars to the car evaluators and if you want to pay more, there is higher possibility that car buyer can see your in our recommendation system.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!---->
<div class="welcome">
  <div class="container">
    <div class="welcome_sec">
      <div class="col-md-6 welcome_info">
        <h3>Welcome</h3>
        <span></span>
        <h4>Our Target</h4>
        <p>“Smart City” with information and communication technologies provides more interactive, efficient public services. One crucial problem is the traffic, especially parking. Reasonable street parking plan benefits the city traffic and people who live in the city. E-street Parking system provides a solution to this urgent problem.</p>
        <p>It can save drivers time and effort on finding available parking spaces and on paying any applicable parking fee.</p>
        <a href="/about" class="hvr-bounce-to-bottom">Read More</a>
      </div>
      <div class="col-md-6 welcome_pic">
        <h2><b>How we find the available parking space</b></h2>
        <img src="images/image111.jpeg" class="img-responsive" alt=""/>
        <h3>Geohash Algorithm</h3>
        <p>Geohash is a geocoding system and also a hierarchical spatial data structure which subdivides space
          into buckets of grid shape, with a Z-order curve, and generally space-filling curves. The benefits of Geohash
          include, easily for indexing, protect privacy and efficiently to find location. In our street parking scenario,
          it is the primary algorithm to be applied.</p>
        <p></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!---->
<div class="auto_sec">
  <div class="container">
    <h3>Try it today!</h3>
    <span></span>
    <div class="auto_sec_grids">
      <div class="col-md-8 auto_sec_left">

        <img src="images/image222.jpeg" class="img-responsive" alt=""/>
        <h5><a href="#">Mauris a eros quis purus suscipit iaculis</a></h5>
        <p><>Etiam ante diam, congue sit amet elit placerat, faucibus faucibus ipsum. Vivamus vel laoreet nulla. Aenean id bibendum diam. Donec rutrum mi diam, sed tempus metus luctus a.
          Nullam vitae quam sed felis mattis facilisis. Nunc magna ex, consequat et dapibus nec, volutpat sit amet enim. Ut a sagittis nulla. Duis pulvinar et dolor vitae vulputate.
          Donec eleifend odio non neque semper eleifend. Mauris pharetra venenatis augue.</p>
      </div>
      <div class="col-md-4 auto_sec_right">
        <p><a href="/about">More about us.</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!---->
<script>
    $(function () {
        $("#slider2").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks2",
            pager: true,
        });
    });
</script>

<div class="slider btm_sld">
  <div class="container">
    <div class="callbacks2_container">
      <ul class="rslides" id="slider2">
        <li>
          <p>Curabitur pharetra sed magna at tincidunt. Maecenas auctor tincidunt ex.
            Aliquam a vestibulum Donec diam ipsum euismod.</p>
        </li>
        <li>
          <p>Fusce erat nibh, ornare et suscipit non, varius a sapien. Donec vel lectus
            vitae nibh sodales semper. Donec diam ipsum.</p>
        </li>
        <li>
          <p>Proin tincidunt sit amet velit quis dignissim. Donec et odio sed purus tristique
            vitae nibh imperdiet diam sed eget metus.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!---->

<!---->
<!--<div class="feature_sec">-->
  <!--<div class="container">-->
    <!--<div class="feature_head">-->
      <!--<h3>Featured News</h3>-->
      <!--<span></span>-->
    <!--</div>-->
    <!--<ul id="flexiselDemo3">-->
      <!--<li>-->
        <!--<div class="biseller-column">-->
          <!--<a href="#"><img src="images/pic6.jpg" alt=""/></a>-->
          <!--<h4>Donec lacinia</h4>-->
          <!--<p>15,706 miles</p>-->
          <!--<p>17,900</p>-->
          <!--<a class="more hvr-bounce-to-bottom" href="gallery.html">Read More..</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="biseller-column">-->
          <!--<a href="#"><img src="images/pic5.jpg" alt=""/></a>-->
          <!--<h4>Donec lacinia</h4>-->
          <!--<p>Cras pulvinar iaculis ex. Nullam vitae justo vel sapien malesuada varius ac blandit egestas nec felis. Nunc pharetra.</p>-->
          <!--<a class="more hvr-bounce-to-bottom" href="gallery.html">Read More..</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="biseller-column">-->
          <!--<a href="#"><img src="images/pic8.jpg" alt=""/></a>-->
          <!--<h4>Donec lacinia</h4>-->
          <!--<p>Cras pulvinar iaculis ex. Nullam vitae justo vel sapien malesuada varius ac blandit egestas nec felis. Nunc pharetra.</p>-->
          <!--<a class="more hvr-bounce-to-bottom" href="gallery.html">Read More..</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="biseller-column">-->
          <!--<a href="#"><img src="images/pic4.jpg" alt=""/></a>-->
          <!--<h4>Donec lacinia</h4>-->
          <!--<p>Cras pulvinar iaculis ex. Nullam vitae justo vel sapien malesuada varius ac blandit	egestas nec felis. Nunc pharetra.</p>-->
          <!--<a class="more hvr-bounce-to-bottom" href="gallery.html">Read More..</a>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="clearfix"></div>-->
    <!--<script type="text/javascript">-->
        <!--$(window).load(function() {-->
            <!--$("#flexiselDemo3").flexisel({-->
                <!--visibleItems:4,-->
                <!--animationSpeed: 1000,-->
                <!--autoPlay: true,-->
                <!--autoPlaySpeed: 3000,-->
                <!--pauseOnHover: true,-->
                <!--enableResponsiveBreakpoints: true,-->
                <!--responsiveBreakpoints: {-->
                    <!--portrait: {-->
                        <!--changePoint:480,-->
                        <!--visibleItems:2-->
                    <!--},-->
                    <!--landscape: {-->
                        <!--changePoint:640,-->
                        <!--visibleItems:2-->
                    <!--},-->
                    <!--tablet: {-->
                        <!--changePoint:768,-->
                        <!--visibleItems:3-->
                    <!--}-->
                <!--}-->
            <!--});-->

        <!--});-->
    <!--</script>-->
    <!--<script type="text/javascript" src="js/jquery.flexisel.js"></script>-->
  <!--</div>-->
<!--</div>-->
<!---->
<div class="footer2">
  <div class="container">
    <div class="ftr2-grids">
      <div class="col-md-4 ftr2-grid1">
        <h3>Home</h3>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/findspace">Find Available Space</a></li>
          <!--<li><a href="sellcar.html">Sell car</a></li>-->
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 ftr2-grid2">
        <h3>Latest Tweets</h3>
        <div class="ftr2-grid">
          <p>I'll defiintely share the website with my friend. It really help a lot for making decision.</p>
          <a href="#">1 Hour ago</a>
        </div>
        <div class="ftr2-grid">
          <p>It is a long established fact that a
            reader will be distracted by the of a reader page when at its layout.</p>
          <a href="#">3 Hour ago</a>
        </div>
      </div>
      <div class="col-md-4 ftr6-grid3">
        <h3>Get in Touch</h3>
        <p>Subscribe to get the latest car information today!</p>
        <form>
          <input type="text" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
          <input type="submit" value="Subscribe"/>
        </form>
        <div class="social">
          <ul>
            <li><a href="#"><i class="facebook"></i></a></li>
            <li><a href="#"><i class="twitter"></i></a></li>
            <li><a href="#"><i class="dribble"></i></a></li>
            <li><a href="#"><i class="google"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<!---->



</body>
</html>