<!DOCTYPE html>
<html>
<head>
    <title>E-Parking</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="/drivers/login">
        email: <input type="text" name = "email"/>
        password:<input type="password" name = "password"/>
        <input type="submit" value="login"/>
    </form>
</body>
</html>
