<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/test/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="/test/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/test/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/test/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="/test/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/test/js/custom/general.js"></script>
    <script type="text/javascript" src="/test/js/custom/index.js"></script>
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="/test/css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="/test/css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/test/js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="loginpage">
<div class="loginbox">
    <div class="loginboxinner">

        <div class="logo">
            <h1 class="logo">E-street Parking <span>Admin</span></h1>
            <span class="slogan">Administrator System</span>
        </div><!--logo-->

        <br clear="all" /><br />

        <div class="nousername">
            <div class="loginmsg">Wrong Password!</div>
        </div><!--nousername-->

        <div class="nopassword">
            <div class="loginmsg">Wrong Password!</div>
            <div class="loginf">
                <div class="thumb"><img alt="" src="images/thumbs/avatar1.png" /></div>
                <div class="userlogged">
                    <h4></h4>
                    <a href="index.html">Not <span></span>?</a>
                </div>
            </div><!--loginf-->
        </div><!--nopassword-->

        <form id="login" action="/drivers/login" method="post">

            <div class="username">
                <div class="usernameinner">
                    <input type="text" name="email" id="username" />
                </div>
            </div>

            <div class="password">
                <div class="passwordinner">
                    <input type="password" name="password" id="password" />
                </div>
            </div>

            <button>Login</button>


            <div class="keep"><input type="checkbox" /> Remember Password</div>
            <div class="keep"><a href="/">Sign Up</a></div>

        </form>

    </div><!--loginboxinner-->
</div><!--loginbox-->


</body>
</html>
